<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="微信阅读推广,微信粉丝,公众号加粉,公众号互粉,微信点赞,微信真人活粉,微信公众号纸巾机加粉,微信公众号wifi吸粉,微信吸粉,文章阅读,微信线下粉">
    <meta name="description" content="微信阅读推广,微信粉丝,公众号加粉,公众号互粉,微信点赞,微信真人活粉,微信公众号纸巾机加粉,微信公众号wifi吸粉,微信吸粉,文章阅读,微信线下粉">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/TP/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/TP/static/layuiadmin/style/admin.css" media="all">

    <title>互粉之家 - 微信阅读推广,微信粉丝,抖音粉丝,真人业务推广</title>
    <style>
        body{overflow: hidden}
        .layui-logo{
            background:url('https://hfstatic.oss-cn-beijing.aliyuncs.com/image/hfzjlogo.png');
            background-repeat:no-repeat;
            background-position:center;
            background-size:80% 65%;
            background-color:unset!important;
        }
        .layadmin-side-shrink .layui-layout-admin .layui-logo{
            background-repeat:no-repeat;
            background-position:center;
            background-size:56% 65%;
            background-image: url('https://hfstatic.oss-cn-beijing.aliyuncs.com/image/hfzjlogoicon.png');
        }
        .layui-tab-title,.layui-side-menu{user-select: none}
    </style>
    <script src="/TP/static/js/sharenew/clipboard.min.js"></script>

    <!--statistics-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?94a436a757d93de93a93174d58e5b926";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--statistics-->
    <style>
        .color-tip{color: #FFB800}
        .color-notice{color: #FF5722}
        .color-show{color: #01AAED}
        .text-center{text-align: center;}

        @media only screen and (max-width: 500px) {
            .layui-form-label {
                padding: 9px 0;
                width: 70px;
            }
            .layui-input-block {
                margin-left: 85px;
            }
        }
        .layui-input-block>input{min-width: 150px;}

        .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {background-color: #1E9FFF !important;color: #fff;}

        .layui-btn {background-color:#1E9FFF}
        .layui-btn-primary {border: 1px solid #C9C9C9;background-color: #fff;color: #555;}
        .layui-btn-danger {background-color: #FF5722;}
        .layui-btn-warm {background-color: #FFB800;}
        .layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover {
            background-color: #FBFBFB;
        }

        .layui-btn.disabled,.layui-btn:disabled{
            border: 1px solid #e6e6e6!important;
            background-color: #FBFBFB!important;
            color: #C9C9C9!important;
            cursor: not-allowed!important;
            opacity: 1!important;
        }

        .layui-nav-tree .layui-nav-bar {background-color:#1E9FFF !important;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #1E9FFF;}
        .layui-form-radio>i:hover, .layui-form-radioed>i {color: #1E9FFF;}
        .layui-form-select dl dd.layui-this {background-color: #1E9FFF;color: #fff;}

    </style>
</head>

<body>

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right" style="padding-right: 20px;">
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a style="color: #ff9800;padding: 0 6px" target="_blank" href="http://hfzj.site.maka.im">免费图片素材</a>-->
                <!--</li>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a style="color: #01AAED;padding: 0 6px" target="_blank" href="http://www.xingfshuo.com/">抖音(粉丝/点赞/播放/评论/分享)</a>
                </li>
                <li class="layui-nav-item _info_unlogin" lay-unselect >
                    <a href="http://www.yuntui360.cn/Sso/serverLogin?sign=MDAwMDAwMDAwMJVnopXIkGloxmSjqZGTprKwoMeTw4inzn6gd9jEuLuygK-Pm7SjZaXJebOthspqrsdpx5atos2SkqCHlsS1r2qAeGvNx6Jpq7-JxHM">
                        <cite>请登录</cite>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide _info_logined" lay-unselect>
                    <a href="javascript:;">
                        <cite class="layui-show-xs layui-hide-sm"><span class="_info_username">lianzi520</span></cite>
                        <cite class="layui-hide-xs">
                            <span class="_info_username">lianzi520</span>&nbsp;(ID:<span class="_info_uid">3481417</span>)
                        </cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="layui-show-xs layui-hide-sm"><a>ID：<span class="_info_uid">3481417</span></a></dd>
                        <dd class="layui-show-xs layui-hide-sm"><a>余额：<span class="_info_balance">3481417</span></a></dd>
                        <hr class="layui-show-xs layui-hide-sm">
                        <dd id="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs layui-hide _info_logined" lay-unselect>
                    <a href="javascript:layui.$('a[lay-href=\'/recharge/\']').click();">
                        <cite>余额：<span class="_info_balance"></span><span class="layui-badge layui-bg-blue" style="width: 30px;padding: 0 1px;margin: -10px 6px 0 2px">充值</span></cite>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/new/main">
                    <span></span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="" class="layui-nav-item  layui-this">
                        <a href="javascript:;" lay-href="/new/main" lay-tips="首页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>首页</cite>
                        </a>
                    </li>
                    <li data-name="" class="layui-nav-item " >
                        <a href="javascript:;"  lay-tips="阅读推广" lay-direction="2">                <i class="layui-icon layui-icon-list"></i>
                            <cite>阅读推广</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="read_self_sp">
                                <a lay-href="/task/?biz=read_self_sp">真人阅读(匀速/曲线)</a>
                            </dd><dd data-name="read_self">
                            <a lay-href="/task/?biz=read_self">真人阅读(快速-推荐)</a>
                        </dd><dd data-name="read_trueman_vc2">
                            <a lay-href="/task/?biz=read_trueman_vc2">真人阅读(慢速-推荐)</a>
                        </dd><dd data-name="read_vc3">
                            <a lay-href="/task/?biz=read_vc3">非真人阅读</a>
                        </dd><dd data-name="read_vc5">
                            <a lay-href="/task/?biz=read_vc5">真人阅读(快速)</a>
                        </dd><dd data-name="user_reada">
                            <a lay-href="/task/?biz=user_reada">真人阅读(慢速-小单)</a>
                        </dd><dd data-name="user_readb">
                            <a lay-href="/task/?biz=user_readb">非公众号文章阅读</a>
                        </dd>                  </dl>              </li><li data-name="" class="layui-nav-item " >
                    <a href="javascript:;"  lay-tips="公众号粉丝" lay-direction="2">                <i class="layui-icon layui-icon-login-wechat"></i>
                        <cite>公众号粉丝</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd data-name="zombmp_v4">
                            <a lay-href="/task/?biz=zombmp_v4">非真人粉(快速)</a>
                        </dd><dd data-name="trueman_mp_vc2">
                        <a lay-href="/task/?biz=trueman_mp_vc2">真人粉(无需授权)</a>
                    </dd><dd data-name="trueman_mp">
                        <a lay-href="/task/?biz=trueman_mp">真人活粉(线上任务粉)</a>
                    </dd><dd data-name="mp_scan_fans">
                        <a lay-href="/task/biztpl?biz=mp_scan_fans">公众号扫码加粉</a>
                    </dd>                  </dl>              </li><li data-name="" class="layui-nav-item " >
                    <a href="javascript:;"  lay-tips="评论/投票/点赞" lay-direction="2">                <i class="layui-icon layui-icon-praise"></i>
                        <cite>评论/投票/点赞</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd data-name="dolike_v3">
                            <a lay-href="/task/?biz=dolike_v3">微信文章点赞(好看)</a>
                        </dd><dd data-name="wx_official_vote">
                        <a lay-href="/task/biztpl?biz=wx_official_vote">投票业务</a>
                    </dd><dd data-name="wx_art_comment_zan">
                        <a lay-href="/task/biztpl?biz=wx_art_comment_zan">微信文章留言点赞</a>
                    </dd><dd data-name="zimeiti">
                        <a lay-href="/task/biztpl?biz=zimeiti">自媒体业务</a>
                    </dd>                  </dl>              </li><li data-name="" class="layui-nav-item " >
                    <a href="javascript:;"  lay-tips="微信视频号业务" lay-direction="2">                <i class="layui-icon layui-icon-praise"></i>
                        <cite>微信视频号业务</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd data-name="wx_sph">
                            <a lay-href="/task/biztpl?biz=wx_sph">关注/点赞/评论/播放</a>
                        </dd>                  </dl>              </li><li data-name="douyin" class="layui-nav-item " >
                    <a href="http://www.xingfshuo.com/" lay-tips="抖音粉丝/点赞/播放" target="_blank" lay-direction="2">
                        <i class="layui-icon layui-icon-play"></i>
                        <cite>抖音粉丝/点赞/播放</cite>
                    </a>
                </li><li data-name="" class="layui-nav-item " >
                    <a href="javascript:;"  lay-tips="流量主" lay-direction="2">                <i class="layui-icon layui-icon-app"></i>
                        <cite>流量主</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd data-name="zf_llz">
                            <a lay-href="/task/biztpl?biz=zf_llz">公众号包开流量主</a>
                        </dd><dd data-name="mapp_llz">
                        <a lay-href="/task/biztpl?biz=mapp_llz">小程序包开流量主</a>
                    </dd>                  </dl>              </li><li data-name="user/record" class="layui-nav-item " >
                    <a href="javascript:;" lay-href="/user/record" lay-tips="余额变化记录" lay-direction="2">                <i class="layui-icon layui-icon-log"></i>
                        <cite>余额变化记录</cite>
                    </a>
                </li><li data-name="recharge" class="layui-nav-item " >
                    <a href="javascript:;" lay-href="/recharge/" lay-tips="充值" lay-direction="2">                <i class="layui-icon layui-icon-dollar"></i>
                        <cite>充值</cite>
                    </a>
                </li>          </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/new/main" lay-attr="/new/main" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>


<script src="/TP/static/layuiadmin//layui/layui.js"></script>

<script>
    layui.config({"version":"109","base":"\/TP\/static\/layuiadmin\/"}).extend({
        setter: 'hfzjlib/config',
        index: 'hfzjlib/index' //主入口模块
    }).use('index', function () {
        var $ = layui.$
                , layer = layui.layer;

        var nav = getUrlParam('nav');
        if(!isEmpty(nav)){
            $('#LAY-system-side-menu').find('.layui-nav-item>a,dd>a').each(function () {
                if($(this).attr('lay-href')===nav){
                    $(this).click();
                    return false;//break
                }else
                    return true;//continue
            });
        }

        $('#logout').click(function () {
            $.get('/user/logout');
            layer.msg('您已成功退出登陆',{time: 2000},function () {
                location.reload();
            });
        });

        (new Clipboard('#tipCopy')).on('success', function(e) {
            layer.msg('复制成功');
            e.clearSelection();
        });
        $(document).on('click','#tipOk,#tipCopy',function (e) {
            layer.close(parent.tipIdx);
        });

    });
</script>
<!--<script id="qd2852152852cc918eff1c09f7ce9c9d5d3285818e2b" src="https://wp.qiye.qq.com/qidian/2852152852/cc918eff1c09f7ce9c9d5d3285818e2b" charset="utf-8" async defer></script>-->

<script>
    var _balance='0.00';
    var _uid='3481417';
    var _username='lianzi520';

    if(self !== top){
        var $=parent.layui.$;
        $('._info_unlogin').addClass('layui-hide');
        $('._info_logined').removeClass('layui-hide');
        $('._info_username').text(_username);
        $('._info_uid').text(_uid);
        $('._info_balance').text(_balance+'币');
    }
</script>
</body>